* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit
}

#map-canvas{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: inherit;
}

.count {
  color: #4A4A4A;
  font-weight: bold;
  font-size: 13px;
  width: 50px;
  text-align: center;
  display: inline-block;
}

.sidebar {
  z-index: 4000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3em;
  background: #4A4A4A;
  color: white;
  opacity: 0.95;
}

.description-container {
  position: absolute;
  bottom: 1em;
  padding: 2em 2em 1em 1.5em;
}

@media screen and (min-width: 1200px) {
  .sidebar {
    display: block;
    left: auto;
    right: 0;
    top: 0;
    bottom: 0;
    width: 320px;
    height: 100%;
  }
}
